<div class="BlogPost">
  <article class="card">
    <div class="card-header flex-row justify-space-between">
      <h2>{{blogPost.title}}</h2>
      <div>
        {{!-- Posted by {{blogPost.user.username}} on {{formatDate blogPost.createdAt}} --}}
      </div>
    </div>
    <div class="card-body">
      {{blogPost.body}}
    </div>
  </article>
  {{#if blogPost.comments}}
  <section class="card">
    <div class="card-header">
      <h3>Comments</h3>
    </div>
    <div class="card-body">
      {{#each blogPost.comments as |comment|}}
      {{comments}}
      {{/each}}
    </div>
  </section>
  {{/if}}
  <form id="new-comment-form" class="card">
    <div class="card-header">
      <h3>Add New Comment</h3>
    </div>
    <div class="card-body">
      <input type="hidden" name="blogPost-id" value="{{blogPost.id}}" />
      <label class="form-label" for="comment-body">Comment</label>
      <textarea name="comment-body" class="form-input"></textarea>
      <button type="submit" class="btn">Submit</button>
    </div>
  </form>
</div>
<script src="/js/comment.js"></script>